@{
  ViewData["Title"] = $"Edit {Model.Name}";
}

@model TravelClient.Models.Country

<h4>Edit @Model.Name</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CountryId)

  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new { @Value = Model.Name})
  <br>
  @Html.LabelFor(model => model.Language)
  @Html.TextBoxFor(model => model.Language, new { @Value = Model.Language})
  <br>
  @Html.LabelFor(model => model.Climate)
  @Html.TextBoxFor(model => model.Climate, new { Value = Model.Climate})
  <br>
  @Html.LabelFor(model => model.Population)
  @Html.TextBoxFor(model => model.Population, new { Value = Model.Population})
  <br>
  <br>
  <input type="submit" value="Save changes" class="btn btn-primary"/>
}

<br>
<p>@Html.ActionLink("Back to details", "Details", new {id = @Model.CountryId})</p>